[package]
name = "challenge"
version = "0.1.0"
edition = "2021"

[dependencies]
rustc-hash = "2.1.1"

[profile.release]
codegen-units = 1
lto = "fat"

[profile.profiling]
inherits = "release"
debug = true
